.table-container {
    width: 100%;
    overflow-x: auto;
}

.table {
    gap: 10px;
    width: 100%;
    table-layout: fixed;
}

.table-header {
    background-color: #f7f7f7;
    gap: 20px;
}

.table-header-item {
    font-weight: 700;
    font-size: 14px;
    padding: 16px 12px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-body {
    gap: 20px;
    border-bottom: 1px solid #f7f7f7;
}

.table-body:hover {
    background-color: #f7f7f7;
}

.table-body-item {
    font-weight: 400;
    font-size: 14px;
    padding: 16px 8px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.goodBadge, .normalBadge, .badBadge {
    width: 61px;
    height: 28px;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 700;
}

.goodBadge {
    background-color: rgba(0, 153, 255, 0.15);
    color: #0099ff;
}

.normalBadge {
    background-color: rgba(133, 133, 133, 0.15);
    color: #999999;
}

.badBadge {
    background-color: rgba(255, 34, 34, 0.15);
    color: #ff2222;
}

.emptyText {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    padding: 30px;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.paginationArrow-button {
    background-image: url("images/PaginationVector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 8px;
    height: 15px;
    border: none;
    background-color: transparent;
}

.paginationArrow-button.prev {
    transform: rotate(0deg);
}

.paginationArrow-button.next {
    transform: rotate(180deg);
}

.pageButton {
    background-color: transparent;
    border: none;
    font-size: 14px;
    text-align: center;
    gap: 32px;
}

.default {
    color: #000000;
    font-weight: 400;
}

.selected {
    color: #0099FF;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .table-body {
        gap: 10px;
    }
    
    .table-header-item, .table-body-item {
        font-size: 12px;
        padding: 10px 6px;
    }

    .paginationContainer {
        gap: 5px;
    }

    .pageButton {
        font-size: 12px;
    }

    .paginationArrow-button {
        width: 6px;
        height: 12px;
    }

    .goodBadge, .normalBadge, .badBadge {
        font-size: 12px;
        padding: 4px 8px;
        width: auto;
        height: auto;
    }
}