@model Bicycle.ViewModels.StudentTeacherViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center centerMsg">
    <h1 class="display-3">서울 공공 자전거 대여 서비스 <b>따릉이</b>를<br/> 더욱 <b>안전</b> 하게 이용 하자!</h1>
</div>

<style>
    .centerMsg {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        text-align: center;
    }
</style>