h1 {
    text-align: center;
}

.centerMsg {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.input_button {
    align-content: center;
}

.input_button_text {
    font-size: 14px;
    font-weight: 700;
}

.chatbot-container {
    position: fixed;
    padding: 12px;
    bottom: 80px;
    right: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}